fastapi
uvicorn
python-multipart
# LangChain & AI
langchain
langchain-community
langchain-google-vertexai
langchain_google_genai
langchain-ollama
# Utilities
pymupdf
requests
pillow
numpy
python-dotenv

# Google GenAI (API Key)
langchain-google-genai

# Testing
pytest
pytest-asyncio
# Frontend
streamlit